* {
    margin: 0;
    padding: 0;
}

.pai {
    display: flex;
    justify-content: space-between;
}

.quadrado {
    width: 100px;
    height: 100px;
}

.azul {
    background-color: blue;
}

.vermelho {
    background-color: red;
}

.amarelo {
    background-color: yellow;
}

